<%- include("../partials/navbar") %>
<link rel="stylesheet" href="/CSS/edit.css" />
<body>
    <div class="row">
        <h2>Edit Anime</h2>
        <form action="/animes/<%= anime._id %>?_method=PUT" method="POST">
            <div>
                <label for="title"><h6>Title:</h6></label>
                <br />
                <input
                    type="text"
                    id="title"
                    name="anime[title]"
                    value="<%= anime.title %>"
                    required
                />
            </div>
            <br />
            <div>
                <label for="description"><h6>Description:</h6></label>
                <br />
                <textarea
                    name="anime[description]"
                    id="description"
                    cols="130"
                    rows="10"
                    required
                >
<%= anime.description %>
            </textarea
                >
            </div>
            <br />
            <div>
                <label for="genre"><h6>Genre:</h6></label>
                <br />
                <input
                    type="text"
                    id="genre"
                    name="anime[genre]"
                    value="<%= anime.genre %>"
                    required
                />
            </div>
            <br />
            <button class="btn btn-success">Update Anime</button>
            <a
                href="/animes/<%= anime._id %>"
                role="button"
                class="btn btn-danger"
                >Cancel</a
            >
        </form>
    </div>
    <%- include("../partials/footer") %>
</body>
